@model Cricket_Auction.Web.ViewModels.AuctionsViewModel
@{
    ViewBag.Title = "Trophy";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    }*@


<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">SLPL</h1>
        <p class="col-md-8 fs-4">The Sri Lanka Premier League (SLPL) was a Twenty20 cricket competition in Sri Lanka. It was intended to be the premier Twenty20 league in the country, held by Sri Lanka Cricket, when it replaced the Inter-Provincial Twenty20 competition.</p>
    </div>

    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">IPL</h1>
        <p class="col-md-8 fs-4">The Sri Lanka Premier League (SLPL) was a Twenty20 cricket competition in Sri Lanka. It was intended to be the premier Twenty20 league in the country, held by Sri Lanka Cricket, when it replaced the Inter-Provincial Twenty20 competition.</p>
    </div>

    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Big Bash League</h1>
        <p class="col-md-8 fs-4">The Big Bash League (known as the KFC Big Bash League for sponsorship reasons, often abbreviated to BBL or Big Bash) is an Australian professional club Twenty20 cricket league, which was established in 2011 by Cricket Australia.</p>
    </div>

    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">BPL</h1>
        <p class="col-md-8 fs-4">The Bangladesh Premier League is a professional Twenty20 cricket league consisting of seven franchises. The BPL is one of the three professional cricket leagues in Bangladesh.</p>
    </div>
</div>



@*<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">

            <div class="col-md-6">*@
                <!---<div class="small mb-1">SKU: BST-498</div>--->
                @*<h1 class="display-5 fw-bolder"></h1>
                <p class="lead"></p>*@
                @*<div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>*@
            </div>
        </div>
    </div>
</section>
@*<button class="btn btn-primary btn-lg" type="button">Example button</button>*@