@{
    ViewBag.Title = "Index";
    // Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    Layout = "~/Views/Player/_DashboardLayout.cshtml";
}





<div class="row justify-content-md-start">
    <div class="col-md-7">
        @*<div class="card">
            <div class="card-header">
                Wellcome
            </div>
            <div class="card-body">*@
        @if (Session["PlayerName"] != null)
        {
            @*<p>Name:</p>
                <p>User Name: </p>
                <a href="@Url.Action("Logout","Players")" class="btn btn-warning">Logout</a>*@

            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Hello @Session["Username"].ToString(). You have successfully logged in</h1>
                    <p class="col-md-8 fs-4">Welcome @Session["PlayerName"].ToString()</p>
                    @* <button class="btn btn-primary btn-lg" type="button">Example button</button>*@
                </div>
            </div>

        }
    </div>
</div>
